header {
    background-color: #a15397; 
    color: white;
    padding: 1em;
    
}

h2 {
    text-align: center; 
}

nav {
    display: flex;
    justify-content:right; 
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

nav li {
    margin: 0 1em; 
}

nav a {
    text-decoration: none; 
    color: white; 
}
.gallery img {
    max-width: 100%; 
    height: auto; 
}

